<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ask a Health Expert{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>

    {% include 'inc/nav.html' %}
    {% block content %} {% endblock %}


   
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>

</body>
</html>